/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #d91014;
}

.logo img {
    height: 80px;
    flex: 1; /* Isso faz a logo ocupar o espaço à esquerda */
    text-align: center; /* Centraliza a logo */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    color: #d91014;
    text-decoration: none;
}

/* Estilo do carrossel

.espaco{
flex: 1;
justify-content: space-around;
} */

#carrossel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 1s ease;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

/* Controles do carrossel */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Estilo do conteúdo principal */
#principal {
    padding: 2rem;
    text-align: center;
}

/* Estilo da seção de pós-venda */
#pos-venda {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    background-color: #ffffff; /* Cor de fundo opcional */
}

.pos-venda-container {
    display: flex;
    width: 100%; /* Ajusta a largura conforme necessário */
    max-width: 1200px; /* Limita a largura máxima da seção */
}

.automoveis, .motocicletas {
    flex: 1; /* Faz com que as duas colunas tenham o mesmo tamanho */
    padding: 1rem;
    text-align: center; /* Centraliza o texto */
    
}

.separator {
    width: 2px; /* Largura da linha vertical */
    background-color: #d91014; /* Cor da linha */
    margin: 0 2rem; /* Espaçamento lateral */
}

.imagem-carro, .imagem-moto {
    width: 100%; /* Ajusta a imagem para a largura da coluna */
    margin-top: 1rem; /* Espaço acima da imagem */
}

button
{
    color:#ffffff;
    background-color: #d91014;
    width: 150px;
    height: 40px;
   border: 0;
    border-radius: 5px;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
